<div id="customConfirmModal" class="small reveal-modal" data-options="close_on_background_click:false" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <p id="customConfirmMessage"></p>
  <a class="right button action1">{{t "cancel"}}</a>
  <a class="right button action2">{{t "okay"}}</a>
</div>
