<ul class="nav-lang">
  <li><a href="" {{action "setLanguage" 'zh-tw'}} {{bind-attr class="isChinese:selected"}}>中文</a>{{# if isChinese }} &laquo;{{/if}}</li>
  <li><a href="" {{action "setLanguage" 'en'}} {{bind-attr class="isEnglish:selected"}}>English</a>{{# if isEnglish }} &laquo;{{/if}}</li>
</ul>
