.custom_nav{
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 100;
}

.custom-section {
	padding-top: 2.85rem;
}

.nav-up {
  top: -2.85rem;
}

.offer_messages_section {
  padding-top: 4rem;
}