#home-btm {
  text-align: center;
  > div {
    position: absolute;
    width: 100%;
  }
}

.intro.intro-home {
  text-align: center;
  padding-top: 1rem;
}

#status {
  position: fixed;
  bottom: 0.2rem;
  right: 0.2rem;
  background-color: $black;
  font-size: 0.6rem;
  color: white;
  padding: 0.3rem;
  z-index: 9999;
  border-radius: 0.2rem;

  span {
    vertical-align: text-bottom;
  }

  i {
    color: $dark-red;
    font-size: 0.9rem;
    margin-right: 0.3rem;
  }

  &.online {
    i { color: $bar-green; }
  }
}

#lightGallery, .lightGallery {
  cursor: pointer;
}

.app_version {
  text-align: center;
  margin-top: 2.5rem;
  color: $light-gray;
  font-size: 0.6rem;
}
