<div id="errorModal" class="small reveal-modal" data-options="close_on_background_click:false" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <p id="errorMessage"></p>
  <a class="right button">{{t "okay"}}</a>
</div>
