<div class="reveal-modal-bg" {{action "closeOverlay"}}>
</div>

<div id="confirmModal" class="small reveal-modal">
  <p id="confirmMessage">{{alertMessage}}</p>
  <a class="right button cancel" {{action "closeOverlay"}}>{{t "okay"}}</a>
</div>

